<h1 class="p-3 mb-2 bg-success text-white"> Tiny App  -  URL Shortener </h1>

<form action="/login" method="POST">
    Username: <input name="username" type="text" required> 
    <button type="submit"> Sign in </button>
</form>