<h1 class="p-3 mb-2 bg-success text-white"> Tiny App  -  URL Shortener </h1>

<% if (typeof user !== 'undefined') { %>


<form action="/logout" method="POST">
You are logged in as: <%= user.email %>
<button type="submit"> Logout </button>
</form>

<% } %>