<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <p> <a href="http://localhost:8080/urls/"> URL Collection </a> </p>
    <p> <a href="http://localhost:8080/urls/new">Add New </a></p>
</nav>