<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include partials/_header %>
  <% include partials/_nav %>
    <!-- Add EJS code here
    urls: urlDatabase -->
    
    <h2> A list of the Urls </h2>
      <% for(var shortURL in urls){ %> 
        <div> <%= shortURL %> <span> : </span> <%= urls[shortURL] %> 

          <form method="POST" action="/urls/<%= shortURL %>/delete">
                    <a href="/urls/<%= shortURL %>"> Edit </a>
            <button type="delete" class="btn btn-danger">Delete</button>
          </form> 
        </div>
      <% }%>
</body>
</html>